{
    "plugins": [
        "date-fns"
    ],
    "env": {
        "development": {
            "presets": [
                "flow",
                ["env", { "targets": { "browsers": "last 2 versions" } }],
                "stage-0",
                "react"
            ]
        },
        "production": {
            "presets": [
                "flow",
                ["env", {
                    "targets": {
                        "browsers": "last 2 versions",
                        "uglify": true
                    },
                    "modules": false,
                    "useBuiltIns": true
                }],
                "stage-0",
                "react"
            ]
        },
        "test": {
            "presets": [
                "flow",
                ["env", { "targets": { "browsers": "last 2 versions" } }],
                "stage-0",
                "react"
            ]
        }
    }
}
