@import './modules/variables.css';

html {
  font-size: 62.5%;
  background-color: var(--mainColor);
}

body {
  font-size: 1.4em;
  color: var(--textColor);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

