<head>
    <meta charset="UTF-8">
    <title>React animation study log</title>
    <link rel="icon" href="/favicon.ico">
<% if (process.env.NODE_ENV === 'production') { %>
    <link rel="stylesheet" href="/app.css">
<% } %>
</head>

