<!DOCTYPE html>
<html lang="en">
<%- include source/views/common/head %>
<body>
    <%- include source/views/common/header %>
    <div id="root"></div>
    <%- include source/views/common/footer %>
</body>
</html>
